version: '3'
services:
  redis:
    image: redis
    ports:
      - 6379:6379
  redis-commander:
    image: rediscommander/redis-commander:latest
    depends_on:
      - redis
    environment:
      - REDIS_HOSTS=redis:redis
    ports:
      - 8081:8081
  producer:
    build: ./redis-publisher
    image: eresh.gorantla/redis-publisher
    depends_on:
      - redis
    environment:
      - SPRING_REDIS_HOST=redis
      - PUBLISH_RATE=10000
  consumer:
    build: ./redis-consumer
    image: eresh.gorantla/redis-consumer
    depends_on:
      - redis
    environment:
      - SPRING_REDIS_HOST=redis